#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
}

h1 {
  color: #0092d4 !important;
}

html, body {
  background-color: black !important;
  height: 100%;
  margin: 0;
  margin-top: 5%;
  padding: 0;
}

.bullet-services {
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.bullet-services ul {
  list-style: none;
  padding-left: 0;
}

.bottom-footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100vw;
}

.showcase img {
  width: 200px;
  height: 200px;
  margin: 1%;
}

.mt-0 {
  margin-top: 0 !important;
}

.white {
  color: white;
}

.social-icon {
  font-size: larger;
  transition: all 0.2s ease-in-out;
}
.social-icon:hover {
  transform: scale(1.5);
  color: #0092d4;
}
