#root {
  margin: 0 auto;

  text-align: center;
}

.top-header {

}

h1 {
  color: #0092d4 !important;
}

body {
  background-color: black !important;
  margin: 0;
  padding: 0;
}

.bullet-services {
  color: rgb(170, 170, 170);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.bullet-services ul {
  list-style: none;
  padding-left: 0;
}

.bottom-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.showcase img {
  width: 200px;
  height: 200px;
}
