.small-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin: 5px;
}

.carousel-indicator {
  border: none;
  background: transparent;
  margin: 0 5px;
  padding: 0;
}

.carousel-indicator img {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.carousel-indicator.active img {
  border-color: #007bff;
}
.carousel-indicators {
  position: relative;
  margin-top: 0; /* Adjust this value based on your layout needs */
}

/* Ensure only the active item is visible */
.carousel-item {
  display: none;
}

.carousel-item.active {
  width: 50vw;
  height: 50vh;
  display: block;
}
