.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  padding: 20px 0; /* Optional padding for top and bottom */
}

.carousel-container {
  width: 80%; /* Adjust width as per your requirement */
  max-height: 50vh; /* Set max height to 50% of the viewport height */
  overflow: hidden; /* Prevent overflow */
  display: flex;
  justify-content: center;
}

.carousel-image {
  width: auto; /* Keep the image's aspect ratio */
  max-height: 50vh; /* Ensure images don't exceed 50% of the viewport height */
  object-fit: contain; /* This will make sure the image is contained within the area without cropping */
  margin: auto; /* Centering the image */
}

/* Optionally, you might want to adjust the Carousel Item for better layout control */
.carousel-item {
  text-align: center;
}

.small-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  margin: 5px;
}

.carousel-indicator {
  border: none;
  background: transparent;
  margin: 0 5px;
  padding: 0;
}

.carousel-indicator img {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.carousel-indicator.active img {
  border-color: #007bff;
}
.carousel-indicators {
  position: relative;
  margin-top: 0; /* Adjust this value based on your layout needs */
}

/* Ensure only the active item is visible */
.carousel-item {
  display: none;
}

.carousel-item.active {
  display: block;
}
